pre {
    margin: 10px 0px;
    background-color: #101ff285;
    padding: 20px 370px; 
    font-family: sans-serif;
    font-weight: 600;
    font-size: 100%;
    color: white;
}

#logo {
    padding: 0;
    float: left;
    width: 150px;
    padding: 15px 15px;
    height: 150px;
    border-radius: 100px;
}

#thatha {
    float: right;
    width: 150px;
    height: 150px;
    padding: 15px 15px;
    border-radius: 95px;
}

#column {
    background-color: white;
    color: #3210f2a9;
    font-family: sans-serif;
    font-weight: 700;
    padding: 18px 160px;
    font-size: 16px;
}

div {
    background-color: #424fc1bb;
    text-align: center;
    padding: 200px 0;
    font-family: sans-serif;
    color: white;
    font-weight: 500;
    font-size: 45px;
}

#home {
    font-size: medium;
    font-weight: 500;
}

address {
    background-color: #424fc1bb;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
    padding: 3px 20px;
    margin: 10px 0;
}

address h3 {
    color: white;
}

img {
    float: right;
    width: 200px;
    padding: 0 50px;
    height: 180px;
}